h1{
            color:red;
            }
#Sample{
    color:green;
}
.Sample2{
    color:blue
}
ul{
    display: flex;
    list-style: :none;
    flex-direction: row;
}
@media Screen and(max-width:600 px){
ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    }
}
