<!doctype html>
<html>
    <head>
         
        <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css'>
        <title>first project</title>
    
    </head>
    
    <body>
         <div class="row">
              <div class="col-md-4">
                   first name
         </div>
             <div class="col-md-8">
                  <input type"radio" name="gender" id="gendermale"> 
                  <input type"radio" name="gender" id="genderfemale"> 
                  <input type"radio" name="geender" id="genderother"> 
             </div>
    <div class="row">
             <div class="col-md-4">
         </div>
        <div class="col-md-8">
              <input type"checkbox" name="car1" id="car1"> toyota
              <input type"checkbox" name="car2" id="car2"> honda
              <input type"checkbox" name="car3" id="car3"> nissan 
        
        
        
        </div>
             
             
             
             </div>
        
        
        
        
        
        </div>
    
    
    
    
    </body>
















</html>
