<!doctype htnl>
<html>
    <head>ordered & unordeerd list</head>
    <link rel="stylesheet"  href="/CSS/style.CSS">
    
    
    
    <body>
        
        <h1 id ='sample'>sample header</h1>
         <h1 class ='sample2'>sample header2</h1>
        
        
    <h1>ordered list</h1>
    <ol>
        <li>apple</li>
        <li>orange</li>
        
        
        
        </ol>
     <h1>unordered list</h1>
    <ul>
        <li>dog</li>
        <li>cat</li>
        
     </ul>
        <h1>custom menu</h1>
        <ul>
             <a href ='/views/contents.html'>content</a>
             <a href ='/views/index.html'>index</a>
        
        
        
        
        </ul>
    
   
    
    
    
    
    
    
    </body>











</html>