<!DOCTYPE html>
<html>
<head>
    <title>HTML Tables</title>
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css'>
</head>

<body>
    <button type="button" class="btn btn-info">info</button>
    <button type="button" class="btn btn-danger">danger</button>
    <button type="button" class="btn btn-primary">primary</button>
    
    
    
    <table class="table table-striped">
        <tr>
        <th>first name</th>
        <th>last name</th>
        </tr>
        <tr>
        <td>abdelkader</td>
        <td>chriette</td>
        </tr>
        <tr>
        <td>djilali</td>
        <td>kadour</td>
        </tr>

    </table>
</body>
</html>